DB_HOST=localhost
DB_PORT=5432
DB_USER=ocean
DB_PASSWORD=ocean_survey_2024
DB_NAME=ocean_survey
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=ocean_survey_redis_2024
REDIS_DB=0
SERVER_PORT=8080
WS_UPGRADE_BUFFER=1024
